@{
    ViewData["Title"] = "iSchool Web App";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the iSchool Web App. Navigate to find out more about our school!</p>
</div>
